/* /Engine/UI/Markup/PopupMenuButton.razor.rz.scp.css */

.popup-box[b-z6p9g0g4r6] {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: var(--rz-gap);
    padding: 0.5rem;
    top: auto;
    bottom: 100%;
    /* *** */
    opacity: 0;
    visibility: hidden;
}

.popup-box.visible[b-z6p9g0g4r6] {
    opacity: 1;
    visibility: visible;
}
/* /Engine/UI/Widget/HourglassIcon.razor.rz.scp.css */


.hourglassicon[b-4ul1i1iiu1] {
    --hourglassicon-color: goldenrod;
    --hourglassicon-size: 40px;
    position: relative;
    animation: loader-b-4ul1i1iiu1 5s cubic-bezier(.8,0,.2,1) infinite;
    height: var(--hourglassicon-size);
    width: calc(var(--hourglassicon-size) + 1px);
    box-sizing: content-box;
    border-width: 0;
}

@keyframes loader-b-4ul1i1iiu1 {
    90% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.hourglassicon > #Top[b-4ul1i1iiu1] {
    animation: top-b-4ul1i1iiu1 5s linear infinite;
    border-top: calc(var(--hourglassicon-size) / 2) solid var(--hourglassicon-color);
    border-right: calc(var(--hourglassicon-size) / 2) solid transparent;
    border-left: calc(var(--hourglassicon-size) / 2) solid transparent;
    height: 0px;
    width: 1px;
    transform-origin: 50% 100%;
}

@keyframes top-b-4ul1i1iiu1 {
    90% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

.hourglassicon > #Bottom[b-4ul1i1iiu1] {
    animation: bottom-b-4ul1i1iiu1 5s linear infinite;
    border-right: calc(var(--hourglassicon-size) / 2) solid transparent;
    border-bottom: calc(var(--hourglassicon-size) / 2) solid var(--hourglassicon-color);
    border-left: calc(var(--hourglassicon-size) / 2) solid transparent;
    height: 0px;
    width: 1px;
    transform: scale(0);
    transform-origin: 50% 100%;
}

@keyframes bottom-b-4ul1i1iiu1 {
    10% {
        transform: scale(0);
    }

    90% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.hourglassicon > #Line[b-4ul1i1iiu1] {
    animation: line-b-4ul1i1iiu1 5s linear infinite;
    border-left: 1px dotted var(--hourglassicon-color);
    height: 0px;
    width: 0px;
    position: absolute;
    top: calc(var(--hourglassicon-size) / 2);
    left: calc(var(--hourglassicon-size) / 2);
    transform: translateX(-0.5px);
}

@keyframes line-b-4ul1i1iiu1 {
    10% {
        height: calc(var(--hourglassicon-size) / 2);
    }

    100% {
        height: calc(var(--hourglassicon-size) / 2);
    }
}
/* /Frame/ActivePanel.razor.rz.scp.css */
aside[b-tpp0wlf4sz] {
    --rz-primary: var(--book-color);
    position: relative;
    visibility: hidden;
    opacity: 0;
    /* *** */
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    /* *** */
    border-radius: 0.25rem;
    transform: translate(0);
}

.pos-left[b-tpp0wlf4sz] {
    margin-right: auto;
    animation: kf-Panel-fromleft-b-tpp0wlf4sz ease-in 0.2s forwards;
}

.pos-right[b-tpp0wlf4sz] {
    margin-left: auto;
    animation: kf-Panel-fromright-b-tpp0wlf4sz ease-in 0.2s forwards;
}

aside.expanded[b-tpp0wlf4sz] {
    visibility: visible;
}

@keyframes kf-Panel-fromleft-b-tpp0wlf4sz {
    from {
        opacity: 0;
        transform: translate(-100px, 0);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes kf-Panel-fromright-b-tpp0wlf4sz {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.normal[b-tpp0wlf4sz] {
    width: var(--ui-packctr-width);
}

.xsmall[b-tpp0wlf4sz] {
    width: var(--ui-packctr-width-xs);
    border-radius: 0.25rem;
}

#Container[b-tpp0wlf4sz] {
    border: 5px solid var(--book-color);
    padding: 0.5rem;
    background-color: var(--rz-sidebar-background-color);
}

.pack-card[b-tpp0wlf4sz] {
    padding: 0.5rem;
    border: 1px solid var(--book-color-lighter);
    background-color: var(--book-color-bg);
}

    .pack-card:not(:first-child)[b-tpp0wlf4sz] {
        margin-top: 0.5rem; 
    }
/* /Frame/AppInfoPanel.razor.rz.scp.css */
aside[b-6gbufhnz00] {
    --rz-datalist-item-background-color: transparent;
    --rz-datalist-padding: 0;
    --fg-color: var(--bs-body-color);
    --bg-color: var(--bs-info-bg-subtle);
    --icon-color: var(--bs-info);
    position: absolute;
    border-width: 2px;
    border-style: solid;
    padding: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: var(--ui-z-info);
    height: auto;
}

    aside.postop[b-6gbufhnz00] {
        top: 0;
        bottom: auto;
    }

    aside.posbottom[b-6gbufhnz00] {
        top: auto;
        bottom: 0;
    }

    aside.visible[b-6gbufhnz00] {
        visibility: visible;
    }

    aside.a-appearance-top[b-6gbufhnz00] {
        animation: kf-InfoPanel-top-b-6gbufhnz00 ease-in 0.3s forwards;
    }

    aside.a-appearance-bottom[b-6gbufhnz00] {
        animation: kf-InfoPanel-bottom-b-6gbufhnz00 ease-in 0.3s forwards;
    }

@keyframes kf-InfoPanel-top-b-6gbufhnz00 {
    from {
        opacity: 0;
        top: -50px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

@keyframes kf-InfoPanel-bottom-b-6gbufhnz00 {
    from {
        opacity: 0;
        bottom: -50px;
    }

    to {
        opacity: 1;
        bottom: 0;
    }
}


/* Radzen correction */

[b-6gbufhnz00] .rz-datalist-data > li {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#Header[b-6gbufhnz00] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin: 0 0 0.5rem 0.5rem;
}

#EmptyBanner[b-6gbufhnz00] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    height: 8rem;
}

#Content[b-6gbufhnz00] {
    overflow-y: auto;
    height: 8rem;
}


[b-6gbufhnz00] #ToggleBtn {
    position: absolute;
    padding: 0.5rem;
    border-width: 1px;
    border-style: solid;
}

    [b-6gbufhnz00] #ToggleBtn.top {
        top: calc(100% - 8px);
        left: 0.5rem;
        right: auto;
        bottom: auto;
    }

    [b-6gbufhnz00] #ToggleBtn.bottom {
        top: auto;
        left: 0.5rem;
        right: auto;
        bottom: calc(100% - 8px);
    }


[b-6gbufhnz00] #CloseBtn {
    position: absolute;
    border-width: 1px;
    border-style: solid;
}

    [b-6gbufhnz00] #CloseBtn.top {
        position: absolute;
        top: calc(100% - 8px);
        left: auto;
        right: 0.5rem;
        bottom: auto;
    }

    [b-6gbufhnz00] #CloseBtn.bottom {
        position: absolute;
        top: auto;
        left: auto;
        right: 0.5rem;
        bottom: calc(100% - 8px);
    }
/* /Frame/MainLayout.razor.rz.scp.css */

/* ==============================================
   MainLayout (Portrait — default)
// ============================================== */

#MainLayout[b-e6ub5wcgz1] {
    --sidebar-toggle-indent: 0.25rem;
    --layout-bar-size-unit: calc( var(--rz-sidebar-toggle-icon-width) + (var(--rz-sidebar-toggle-padding) * 2) + (var(--sidebar-toggle-indent) * 2) );
    /* *** */
    display: grid;
    grid-template-areas: none;
    grid-template-rows: auto auto auto 1fr;
    grid-template-columns: var(--layout-bar-size-unit) 1fr auto;
    /* *** */
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#Header[b-e6ub5wcgz1] {
    grid-row: 1;
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 1rem;
    z-index: var(--ui-z-cover);
}

[b-e6ub5wcgz1] #MainNavToggle {
    --rz-sidebar-toggle-color: var(--rz-primary);
    grid-row: 2;
    grid-column: 1;
    margin: var(--sidebar-toggle-indent);
    z-index: auto;
}

[b-e6ub5wcgz1] #FullscreenToggle {
    grid-row: 2;
    grid-column: 3;
    margin: var(--sidebar-toggle-indent) var(--sidebar-toggle-indent) auto auto;
    z-index: auto;
}

#MainToolbar[b-e6ub5wcgz1] {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    min-height: var(--layout-bar-size-unit);
    z-index: auto;
}

[b-e6ub5wcgz1] #MainTopDivider {
    grid-row: 3;
    grid-column: 1 / span 3;
    z-index: auto;
    background-color: var(--rz-primary-light);
}


.tbar-vert[b-e6ub5wcgz1] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
}

.tbar-horz[b-e6ub5wcgz1] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}

.tbar-group-vert[b-e6ub5wcgz1] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.tbar-group-horz[b-e6ub5wcgz1] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

/* -------------------------------------------- */
/* Navigation Bar                               */

[b-e6ub5wcgz1] #MainNavBar {
    grid-row: 4;
    grid-column: 1 / span 3;
    width: 0;
    border-right: 1px solid var(--rz-primary-light);
    z-index: var(--ui-z-navbar);
}

/* Active (Packages) Panel */
[b-e6ub5wcgz1] #ActivePanel {
    position: relative;
    grid-row: 4;
    grid-column: 1 / span 3;
    z-index: var(--ui-z-book-ctr);
    margin-bottom: auto;
}

/* Page Host */
[b-e6ub5wcgz1] #PageHost {
    grid-row: 4;
    grid-column: 1 / span 3;
    z-index: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    /* !!! */
    /*border: 2px solid red;*/
}

/* -------------------------------------------- */
/* Book Layer                                   */

#BookLayer[b-e6ub5wcgz1] {
    overflow: hidden;
    position: relative;
    grid-row: 2 / span 3;
    grid-column: 1 / span 3;
    z-index: var(--ui-z-book-view);
    pointer-events: none;
}


/* -------------------------------------------- */
/* Busy Overlay                                   */

.busy-overlay[b-e6ub5wcgz1] {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--ui-z-busy);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

/* ==============================================
  Adjustment layout for landscape
// ============================================== */

@media (orientation: landscape) {
    #MainLayout[b-e6ub5wcgz1] {
        grid-template-rows: auto var(--layout-bar-size-unit) 0 1fr;
    }

    [b-e6ub5wcgz1] #FullscreenToggle {
        margin: auto;
    }

    #MainToolbar[b-e6ub5wcgz1] {
        grid-row: 4;
        grid-column: 3;
        min-width: var( --layout-bar-size-unit);
        height: 100%;
        border-top: 1px solid var(--rz-primary-lighter);
        border-left: 1px solid var(--rz-primary-lighter);
    }

    [b-e6ub5wcgz1] #MainTopDivider {
        display: none;
    }

    [b-e6ub5wcgz1] #MainNavBar {
        border-top: 1px solid var(--rz-primary-light);
    }


    [b-e6ub5wcgz1] #ActivePanel {
        grid-column: 2 / span 2;
    }

    [b-e6ub5wcgz1] #PageHost {
        grid-row: 2 / span 3;
        grid-column: 2;
    }

    #BookLayer[b-e6ub5wcgz1] {
        grid-column: 2 / span 2;
    }
}
/* END @media (orientation: landscape)  */

/* /Frame/MainNavBar.razor.rz.scp.css */
nav[b-0s2q5d2mki] {
    position: relative;
    overflow: hidden;
    background-color: var(--rz-sidebar-background-color);
    border-right: 1px solid var(--rz-primary-light);
    transition: width 0.15s ease-in;
}

    nav.expanded[b-0s2q5d2mki] {
        width: var(--rz-sidebar-width) !important;
    }

    nav.collapsed[b-0s2q5d2mki]  #NavBarCloseBtn {
        visibility: hidden;
    }

.nav-item[b-0s2q5d2mki] {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--layout-bar-size-unit);
    border-bottom: 1px solid var(--rz-primary-lighter);
    cursor: pointer;
    color: var(--rz-primary-dark);
}

    .nav-item:hover[b-0s2q5d2mki] {
        background-color: var(--rz-primary-lighter);
        color: var(--rz-primary-dark);
    }

    .nav-item:focus[b-0s2q5d2mki] {
        outline: none;
        background-color: var(--rz-primary-lighter);
        color: var(--rz-primary-dark);
    }

    .nav-item.active[b-0s2q5d2mki] {
        background-color: var(--rz-primary);
        color: white;
    }


.nav-symbol-box[b-0s2q5d2mki] {
    min-width: var(--layout-bar-size-unit);
    text-align: center;
}

.nav-item-text[b-0s2q5d2mki] {
    text-wrap: nowrap;
    min-width: calc( var(--rz-sidebar-width) - (var(--layout-bar-size-unit) + var(--rz-panel-menu-item-padding)) );
}


@media (orientation: landscape) {
    nav[b-0s2q5d2mki] {
        border-top: 1px solid var(--rz-primary-light);
    }

        nav.collapsed[b-0s2q5d2mki] {
            width: var(--layout-bar-size-unit) !important;
            opacity: 1;
        }
}
/* /Frame/PageHost.razor.rz.scp.css */
[b-lsf9mahv16] .ui-page {
    position: relative;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
}

    [b-lsf9mahv16] .ui-page .ui-page-presenter {
        position: relative;
        display: grid;
        grid-template-rows: auto 1fr auto;
        margin: 0 auto 0 auto;
        border-left: 1px dotted var(--rz-primary-light);
        border-right: 1px dotted var(--rz-primary-light);
        overflow: hidden;
    }

[b-lsf9mahv16] .ui-page-presenter .page-header-slot {
    grid-row: 1;
}

[b-lsf9mahv16] .ui-page-presenter .ui-page-body {
    grid-row: 2;
    position: relative;
    overflow: hidden;
    padding: 0.5rem;
}

[b-lsf9mahv16] .ui-page-presenter .page-footer-slot {
    grid-row: 3;
}

/* strip-adaptive layout */

[b-lsf9mahv16] .ui-page-presenter.strip-adaptive {
    min-height: 100%;
}

/* strip-fluid layout */

[b-lsf9mahv16] .ui-page-presenter.strip-fluid {
    width: 100%;
    min-height: 100%;
}

/* box-adaptive layout */

[b-lsf9mahv16] .ui-page-presenter.box-adaptive {
    height: 100%;
}

    [b-lsf9mahv16] .ui-page-presenter.box-adaptive > .ui-page-body {
        height: 100%;
    }

/* box-fluid layout */

[b-lsf9mahv16] .ui-page-presenter.box-fluid {
    width: 100%;
    height: 100%;
}

    [b-lsf9mahv16] .ui-page-presenter.box-fluid > .ui-page-body {
        height: 100%;
    }

/*Page Caption */

[b-lsf9mahv16] .ui-page-caption {
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: var(--rz-base-300);
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

    [b-lsf9mahv16] .ui-page-caption.authenticated {
        color: var(--rz-primary);
        background-color: var(--rz-primary-lighter);
    }


/* ------------------------------- */
/* Adaptive page presenter width   */

/* X-Small devices (portrait phones, less than 576px) */
[b-lsf9mahv16] .ui-page-presenter.strip-adaptive, .ui-page-presenter.box-adaptive[b-lsf9mahv16] {
    width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    [b-lsf9mahv16] .ui-page-presenter.strip-adaptive, .ui-page-presenter.box-adaptive[b-lsf9mahv16] {
        width: 95%;
    }

    [b-lsf9mahv16] .ui-page-presenter .ui-page-body {
        padding: 0.5rem 1rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    [b-lsf9mahv16] .ui-page-presenter.strip-adaptive, .ui-page-presenter.box-adaptive[b-lsf9mahv16] {
        width: 90%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    [b-lsf9mahv16] .ui-page-presenter.strip-adaptive, .ui-page-presenter.box-adaptive[b-lsf9mahv16] {
        width: 85%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    [b-lsf9mahv16] .ui-page-presenter.strip-adaptive, .ui-page-presenter.box-adaptive[b-lsf9mahv16] {
        width: 80%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    [b-lsf9mahv16] .ui-page-presenter.strip-adaptive, .ui-page-presenter.box-adaptive[b-lsf9mahv16] {
        width: 75%;
    }
}

/* ------------------ */
/* Page Transition    */

[b-lsf9mahv16] .ui-page.appear-from-bottom {
    visibility: visible;
    animation: kf-appear-from-bottom-b-lsf9mahv16 ease-in 0.2s forwards;
}

[b-lsf9mahv16] .ui-page.appear-from-right {
    visibility: visible;
    animation: kf-appear-from-right-b-lsf9mahv16 ease-in 0.2s forwards;
}

[b-lsf9mahv16] .ui-page.appear-from-left {
    visibility: visible;
    animation: kf-appear-from-left-b-lsf9mahv16 ease-in 0.2s forwards;
}

@keyframes kf-appear-from-bottom-b-lsf9mahv16 {
    from {
        opacity: 0.3;
        transform: translate3d(0, 50px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes kf-appear-from-right-b-lsf9mahv16 {
    from {
        opacity: 0.3;
        transform: translate3d(50px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes kf-appear-from-left-b-lsf9mahv16 {
    from {
        opacity: 0.3;
        transform: translate3d(-50px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
/* /Pages/Help/HelpPage.razor.rz.scp.css */
h1[b-w4b4g52xeq] {
    color: maroon;
    padding: 0.25rem;
}

/* /Pages/Home/HomePage.razor.rz.scp.css */
h1[b-xffegp7ade] {
    color: maroon;
    padding: 0.25rem;
}

/* /Pages/Home/Stuff/EnterControl.razor.rz.scp.css */

article[b-v1229qkoaa] {
    opacity: 0;
    display: none;
}

article.entrance[b-v1229qkoaa] {
    display: initial;
    animation: .75s linear 0.2s forwards kf-bounceIn;
}

/* /Pages/Settings/SettingsPage.razor.rz.scp.css */
/* /Pages/Settings/Stuff/LibraryList.razor.rz.scp.css */
[b-4vn9hdohlu] .lib-item-content {
    width: 100%;
    border-collapse: collapse;
}

[b-4vn9hdohlu] .lib-item-content tr {
    border: solid;
    border-width: 1px 0;
}

[b-4vn9hdohlu] .lib-item-content th {
    line-height: 1;
    padding: 0.5rem 0.25rem;
}

[b-4vn9hdohlu] .lib-item-content td {
    width: 100%;
    padding: 0.5rem 0.25rem 0.5rem 0.75rem;
}

/* /Pages/Settings/Stuff/PackageList.razor.rz.scp.css */


[b-t1nf0w24u9] #PackageProps tr {
    vertical-align: middle;
}

[b-t1nf0w24u9] #PackageProps th {
    white-space:break-spaces;
    width: 1%;
}
/* /Pages/Shelf/ShelfPage.razor.rz.scp.css */

[b-uqcxmc1g8g] .toolbutton-label {
    line-height: 1;
    margin-bottom: 0;
}

[b-uqcxmc1g8g] .relocsign-box {
    animation-name: kf-blink-pale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    fill: var(--rz-primary);
}
/* /Pages/Shelf/Stuff/DetailsView.razor.rz.scp.css */
article[b-mj21airio6] {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    padding: 0;
    border: 3px solid transparent;
}

    article.border-passive[b-mj21airio6] {
        border: 3px solid var(--rz-base-400);
    }

    article.border-active[b-mj21airio6] {
        border: 3px solid var(--rz-info);
    }

    article[b-mj21airio6]  #Caption {
        padding: 0.5rem 0.5rem 0 0.5rem;
    }

    article #ScrolledContent[b-mj21airio6] {
        flex: 1;
        overflow-y: auto;
        padding: 0 0.5rem 0.5rem 0.5rem;
    }
/* /Pages/Shelf/Stuff/ShelfTree.razor.rz.scp.css */

article[b-gku454r8v1] {
    height: 100%;
    overflow: auto;
}

[b-gku454r8v1] .vitem {
    margin: 0;
    padding: 0;
}

    [b-gku454r8v1] .vitem .vitem-label {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0.25rem;
        user-select: none;
    }


[b-gku454r8v1] .vitem-label .text {
    margin: 0 0 0 0.5rem;
    line-height: 1.3;
}

[b-gku454r8v1] .vitem-label.nowrap .text {
    text-wrap: nowrap;
}


[b-gku454r8v1] .vitem-label .arrow {
    margin-right: 0;
    min-width: 1em;
    cursor: pointer;
}

[b-gku454r8v1] .vitem-label .arrow.disabled {
    opacity: 0.5;
}

[b-gku454r8v1] .vitem-label .arrow.hidden {
    visibility: hidden;
}

/* не используется */
[b-gku454r8v1] .vitem-label .arrow-placeholder {
    min-width: 1em;
    margin-right: 0.5rem;
}


[b-gku454r8v1] .vitem-label .label-content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem 0.5rem;
    cursor: default;
    border-width: 1px;
    border-style: dotted;
    border-color: transparent;
    border-radius: 10px;
}

[b-gku454r8v1] .vitem-label.selected .label-content {
    border-color: var(--selitem-color-br);
    background-color: var(--selitem-color-bg);
}

[b-gku454r8v1] .label-content .prompt-sign {
    position: absolute;
    left: -8px;
    top: -10px;
    color: var(--bs-primary);
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}


[b-gku454r8v1] .vitem .nest-box {
    position: relative;
    margin-left: calc(1em + 0.5rem + 0.5rem + (var(--ui-icon-md) / 2));
    margin-bottom: 0.5rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    border-left: 1px solid grey;
}

@media (min-width: 576px) {
    [b-gku454r8v1] .vitem .nest-box {
        margin-left: calc(1em + 0.5rem + 0.5rem + (var(--ui-icon-lg) / 2));
    }
}


[b-gku454r8v1] .nest-box .lowerband {
    position: absolute;
    top: auto;
    left: 0;
    right: auto;
    bottom: 0;
    border-bottom: 1px solid grey;
    width: 16px;
    height: 1px;
}

@media (min-width: 992px) {

    [b-gku454r8v1] .vitem-label .text {
        font-size-adjust: 0.6;
        line-height: 1.4;
    }

}

@media (min-width: 1200px) {

    [b-gku454r8v1] .vitem-label .text {
        font-size-adjust: 0.7;
        line-height: 1.6;
    }
}
